<div class="content" style="display:flex;" role="main">
  <form [formGroup]="form" (submit)="submit($event)" class="form-login" style="display:flex;flex-direction: column;">
    <div style="color:red;">{{ error }}</div>
    <div class="m-2">
      <!-- <label for="">Identifiant</label><br>
      <input formControlName="id" id='id' type="text"> -->

      <mat-form-field>
        <mat-label>Identifiant : </mat-label>
        <input matInput formControlName="id" id='id' type="text"> 
      </mat-form-field>


    </div>

    <div class="m-2">
      <!-- <label for="">Mot de passe</label><br>
      <input formControlName="password" type="password" id="password"> -->

      <mat-form-field>
        <mat-label>Mot de passe : </mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

      <hr>

      <a class="mt-2" href="">Mot de passe oublié ?</a>
    </div>

    <button type="submit" class="mt-2 btn">Se connecter</button>
  </form>
</div>
<router-outlet></router-outlet>